<h1>Disclaimer</h1>
<p>Attenzione questo sito contiene spoiler di film, se decidi di continuare è a tuo rischio e pericolo</p>

<%= link_to(t(".esci"), "http://www.google.it") %>
<%= link_to(t(".entra"), spoilers_path )  %>
